.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.BucketItem {
  padding: 0.2em;
}

.flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

}

ul {
  list-style-type: none;
}

button {
  background-color: #00818a;
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background-color: #285467;
}